---
// Experience.astro
import WorkSection from "@/components/Work";
import SplitText from "@/components/SplitText";
---

<section
  id="work"
  class="max-h-screen flex flex-col justify-center items-center relative px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 bg-primary-2 py-4 sm:py-8 md:py-12 lg:py-16"
>
  <div class="max-w-7xl mx-auto w-full h-1/2">
    <!-- Section Header -->
    <!-- <div class="text-center">
      <div class="mb-2">
        <SplitText
          client:visible
          text="Work Experience"
          className="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl font-semibold text-center"
          delay={100}
          duration={2}
          ease="elastic.out(1,0.3)"
          splitType="chars"
          from={{ opacity: 0, y: 40 }}
          to={{ opacity: 1, y: 0 }}
          threshold={0.1}
          rootMargin="-10px"
          splitType="lines"
          textAlign="left"
        />
      </div> -->

    <!-- Decorative divider -->
    <!-- <div class="flex justify-center mb-2">
        <div
          class="w-8 sm:w-10 md:w-12 lg:w-16 h-px bg-gray-400 transition-all duration-300 hover:w-20 sm:hover:w-24 md:hover:w-32"
        >
        </div>
      </div> -->

    <!-- Subtitle -->
    <!-- <p
        class="text-gray-600 text-sm sm:text-base md:text-lg lg:text-xl font-light max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl mx-auto leading-relaxed px-2 sm:px-4"
      >
        A journey through roles that shaped my professional growth
      </p>
    </div> -->

    <!-- Experience Content -->
    <div class="w-full">
      <WorkSection client:visible />
    </div>
  </div>
</section>
